<main>
    <div class="dashboard">
        <div class="dashboard-container" style="display: flex;">
            <div class="sections">
                <div class="section">
                    <div class="section-content">
                        <div class="section-text-image">
                            <div class="section-image">
                                <img src="" alt="Imagen 1" width="60"> 
                            </div>
                            <div class="section-text">
                                <h2>Carga de datos de archivos</h2>
                                <p>En esta sección podrás cargar los archivos de datos necesarios para analizar.</p>
                                <a href="" class="btn btn-primary">Archivos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="section-content">
                        <div class="section-text-image">
                            <div class="section-image">
                                <img src="" alt="Imagen 2" width="70" style="flex: 1; display: flex; flex-direction: column; margin-right: auto;" > 
                            </div>
                            <div class="section-text" >
                                <h2>Administrar base de datos</h2>
                                <p>En esta sección podrás consultar todo lo referente a la base de datos, así como administrarla.</p>
                                <a href="" class="btn btn-primary">Base de datos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="section-content">
                        <div class="section-text-image">
                            <div class="section-image">
                                <img src="" alt="Imagen 3" width="70"> 
                            </div>
                            <div class="section-text">
                                <h2>Ver gráficas</h2>
                                <p>En este apartado podrás ver la graficación de todos los datos para una mejor comprensión.</p>
                                <a href="" class="btn btn-primary">Gráficas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="charts" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                <div class="chart">
                    <img src="" alt="Gráfico 1" width="1500"> 
                </div>
                <div class="chart">
                    <img src="" alt="Gráfico 2" width="1500"> 
                </div>
            </div>
        </div>
    </div>
</main>