<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 1</h3>
                    <h5 class="card-subtitle text-muted mb-3">Descripción</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica muestra la distribución de edades de los encuestados. Resumiento: 
                            La mayoría de los encuestados (66.0%) tienen entre 20 y 25 años, lo que sugiere que este grupo de edad es el más representativo en la encuesta.
                            El segundo grupo más grande, con un 25.2%, corresponde a personas de 15 a 20 años.
                            Los encuestados de 25 a 30 años representan un 6.8% del total.
                            Los encuestados con edades superiores a 30 años constituyen solo un 1.9%.
                            El grupo menos representado es el de los encuestados mayores de 30 años, con un 1.9%.
                            En resumen, la gráfica refleja que la mayoría de los encuestados son jóvenes, particularmente entre los 20 y 25 años, mientras que los grupos de edad mayores están subrepresentados.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <div class="card mb-4">
                <div class="card-body">
                    <img src="" alt="Grafica 1" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                </div>
            </div>
        </div>
    </div>
    
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 2</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            Los resultados revelan una división casi equitativa:
                            Un 50.5% de los participantes reporta haber utilizado aplicaciones de naturaleza similar.
                            Un 49.5% indica no haber recurrido a aplicaciones de este tipo.
                            Esta distribución muestra una tendencia equilibrada en la adopción de aplicaciones con características similares dentro de la muestra analizada.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 2" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 3</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica muestra la distribución del nivel de satisfacción anterior de los encuestados respecto a aplicaciones similares. Los resultados se desglosan de la siguiente manera:

                            No aplica: 39.8% de los encuestados indicaron que la pregunta no es relevante para ellos.
                            Regular: 23.3% calificó su experiencia previa como regular.
                            Buena: 22.3% reportó una experiencia positiva, calificándola como buena.
                            Muy buena: 12.6% expresó un alto nivel de satisfacción.
                            Mala: 1.9% de los encuestados tuvo una experiencia negativa, calificándola como mala.
                            Estos resultados reflejan una diversidad de experiencias, con una proporción significativa de usuarios que 
                            considera su experiencia como no aplicable
                            y un grupo destacado que la valora positivamente, ya sea como buena o muy buena.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 3" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 4</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica de pastel presenta los aspectos más importantes para los usuarios en relación con aplicaciones similares. Los resultados se distribuyen de la siguiente manera:

                            Personalización: 43.6% de los encuestados consideran que la personalización es el aspecto más importante.
                            Seguridad y privacidad: 39.4% de los usuarios priorizan la seguridad y privacidad.
                            Interfaz de usuario: 17.0% valoran principalmente la interfaz de usuario.
                            Esto indica que la mayoría de los usuarios dan gran importancia a la capacidad de personalizar su experiencia y a la protección de su información, con una menor pero significativa atención a la facilidad de uso y la experiencia de la interfaz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 4" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 5</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica muestra los aspectos menos agradables para los usuarios en el uso de aplicaciones similares. Los datos revelan lo siguiente:

                            Interfaz de usuario: 46.1% de los encuestados encuentran la interfaz de usuario como el aspecto menos satisfactorio.
                            Personalización: 33.7% consideran que la personalización es una de las áreas que menos les agrada.
                            Seguridad y privacidad: 20.9% de los usuarios mencionan la seguridad y privacidad como un punto negativo.
                            Estos resultados sugieren que la mayor parte de la insatisfacción de los usuarios se centra en la interfaz de usuario y la capacidad de personalización, mientras que las preocupaciones sobre seguridad y privacidad, aunque presentes, son menos predominantes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 5" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 6</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica de nivel de satisfacción con la personalización muestra la siguiente distribución entre los encuestados:

                            Muy satisfecho: 35% de los usuarios se sienten muy satisfechos con la personalización ofrecida.
                            Poco satisfecho: 26.2% expresan un bajo nivel de satisfacción en este aspecto.
                            No aplica: Para el 32% de los encuestados, la personalización no es un factor relevante.
                            Insatisfecho: 2.8% de los usuarios están insatisfechos con las opciones de personalización.
                            Estos resultados indican que, si bien una parte significativa de los usuarios está muy satisfecha con la personalización, existe un porcentaje considerable que no encuentra relevante esta característica, y un grupo más pequeño que muestra cierto grado de insatisfacción.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 6" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 7</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica de principales razones de cambio muestra la siguiente distribución entre los encuestados: Funcionalidad: El 35% de los usuarios mencionan la funcionalidad como la razón principal para cambiar de aplicación. Experiencia como usuario: El 28.2% de los encuestados considera que su experiencia como usuario es un factor determinante en su decisión de cambio. Seguridad: Para el 19.4% de los usuarios, la seguridad es el motivo más relevante. Recomendación de terceros: El 11.7% de los encuestados cambia de aplicación basado en recomendaciones de terceros. Costo: Un 5.8% de los usuarios considera el costo como la razón principal para cambiar de aplicación. Estos resultados indican que la funcionalidad y la experiencia del usuario son los factores más importantes al decidir un cambio, mientras que el costo tiene una menor influencia en esta decisión.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 7" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 8</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica que muestra las preferencias en cuanto a características deseadas en una aplicación de mascotas presenta las siguientes respuestas: Dinamismo: Una gran parte de los encuestados valora el dinamismo como una característica clave. Compañía: Muchos usuarios destacan la importancia de la compañía que las aplicaciones de mascotas pueden ofrecer. Variedad de mascotas: La variedad de opciones de mascotas disponibles es un aspecto relevante para los usuarios. Cabe destacar que esta gráfica solo muestra algunas de las respuestas, ya que se trató de una pregunta abierta. Sin embargo, estos resultados reflejan las tendencias generales en las preferencias de los usuarios, con un énfasis en la búsqueda de dinamismo, compañía, y una mayor variedad en las opciones de mascotas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 8" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 9</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica de frecuencia de uso muestra la siguiente distribución entre los encuestados: Rara vez: El 41.7% de los usuarios utiliza la aplicación en raras ocasiones. Nunca: Un 26.2% de los encuestados indica que no utilizan la aplicación. Mensualmente: El 13.6% de los usuarios reporta usar la aplicación de manera mensual. Semanalmente: Un 10.7% de los encuestados utiliza la aplicación cada semana. A diario: Solo un 7.8% de los usuarios hace uso diario de la aplicación. Estos resultados sugieren que la mayoría de los usuarios no utiliza la aplicación con regularidad, ya que una gran parte la usa rara vez o nunca, mientras que una minoría reporta un uso más frecuente.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 9" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 10</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica sobre la disposición a pagar por la aplicación muestra la siguiente distribución entre los encuestados: $100-$150: El 52.4% de los usuarios estaría dispuesto a pagar entre $100 y $150 por la aplicación. Gratuito con anuncios: Un 35% de los encuestados prefiere una versión gratuita de la aplicación con anuncios. $150-$180: El 8.7% de los usuarios considera pagar entre $150 y $180. $180-$200: Solo un 2.9% de los encuestados estaría dispuesto a pagar entre $180 y $200. Estos resultados indican que la mayoría de los usuarios optaría por un precio más accesible o por una versión gratuita con anuncios, mientras que una minoría está dispuesta a pagar un monto mayor por la aplicación.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 10" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 11</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica de pastel muestra las respuestas a la pregunta "¿Pagarías por una versión premium?".

                            56.3% de los encuestados respondió que su decisión depende del costo.
                            23.3% respondió que sí estaría dispuesto a pagar por una versión premium.
                            20.4% respondió que no pagaría por una versión premium.
                            Esto indica que más de la mitad de los encuestados consideran el precio como un factor determinante para decidir si pagarían o no por una versión premium, mientras que una minoría significativa ya está dispuesta a pagar, y un grupo más pequeño no lo haría en absoluto.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 11" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 12</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica de pastel muestra las preferencias de los encuestados respecto al modo de pago preferido:

                            38.8% de los encuestados prefiere un pago único con opción a compras dentro de la aplicación.
                            34.0% prefiere un pago único sin compras adicionales.
                            15.5% opta por una suscripción mensual.
                            11.7% prefiere una suscripción anual.
                            En resumen, la mayoría de los encuestados se inclinan por modelos de pago único, ya sea con o sin compras adicionales dentro de la aplicación, mientras que un menor porcentaje prefiere la modalidad de suscripción, siendo la suscripción mensual un poco más popular que la anual.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 12" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 13</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica de pastel muestra la importancia que los encuestados le dan a la retroalimentación:

                            68.0% considera la retroalimentación como "Muy importante".
                            22.3% la considera "Poco importante".
                            9.7% la considera "No importante".
                            En resumen, la mayoría de los encuestados valoran altamente la retroalimentación, mientras que una minoría significativa la considera de poca importancia y un pequeño grupo no le da importancia en absoluto.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 13" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 14</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica muestra la importancia de reflejar las emociones en la galleta/mascota según una encuesta:

                            Muy importante: Representa el 69.9% de las respuestas, indicando que la mayoría considera crucial reflejar emociones.
                            Poco importante: Constituye el 20.4% de las respuestas.
                            No importante: Solo el 9.7% de los encuestados piensa que no es relevante.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 14" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 15</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica muestra las características más importantes según una encuesta:
                            Seguridad y privacidad (38.8%): Esta es la característica más valorada, lo que indica que la mayoría de las personas consideran que proteger sus datos y mantener su privacidad es lo más importante.
                            Funcionalidad creativa/dinámica (27.2%): La segunda característica más importante. Esto sugiere que los usuarios valoran herramientas y funciones que les permitan ser creativos y que ofrezcan una experiencia interactiva y dinámica.
                            Interfaz intuitiva (19.4%): Una interfaz fácil de usar y entender es crucial para casi una quinta parte de los encuestados, lo que resalta la importancia de un diseño accesible y amigable.
                            Personalización (14.6%): Aunque es la característica menos valorada, aún es significativa para algunos usuarios que prefieren opciones que se adapten a sus necesidades y preferencias individuales.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 15" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 16</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica muestra las razones más comunes por las que las personas utilizan apps similares.

                            Analizar emociones (31.1%): Esta es la razón más común para el uso, indicando que muchas personas utilizan el servicio principalmente para entender y analizar sus emociones.
                            Mejorar el bienestar emocional (29.1%): La segunda razón más importante, lo que sugiere que muchos usuarios buscan mejorar su salud emocional a través del uso del servicio.
                            Documentar experiencias diarias (21.4%): Una parte significativa de los usuarios utiliza el servicio para registrar sus actividades y experiencias diarias.
                            Aburrimiento (17.5%): Algunos usuarios recurren al servicio simplemente para combatir el aburrimiento.
                            Desarrollar la creatividad (1.0%): Aunque es la razón menos común, algunos usuarios utilizan el servicio para fomentar su creatividad.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 16" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 17</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica titulada “Recomendación de la aplicación” muestra los niveles de probabilidad de que los usuarios recomienden la aplicación:

                            Muy probable (52.4%): La mayoría de los usuarios están muy dispuestos a recomendar la aplicación, lo que sugiere una alta satisfacción.
                            Poco probable (45.6%): Un número significativo de usuarios no está seguro de recomendar la aplicación, lo que podría indicar áreas de mejora.
                            Totalmente improbable (1.9%): Solo una pequeña fracción de los usuarios no recomendaría la aplicación en absoluto.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 17" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 18</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica titulada “Utilización de diarios” muestra la frecuencia con la que las personas intentaron mantener diarios digitales con anterioridad.

                            Nunca (35.0%): La mayoría de los encuestados nunca ha utilizado un diario digital.
                            Varias veces (30.1%): Un número significativo de personas ha utilizado diarios digitales en varias ocasiones.
                            Una vez (26.2%): Algunos usuarios han probado los diarios digitales al menos una vez.
                            Actualmente tengo uno (8.7%): Una pequeña fracción de los encuestados actualmente utiliza un diario digital.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 18" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 19</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica titulada “Mensajes e interacciones preferidas” muestra las preferencias de las personas en cuanto a los tipos de mensajes e interacciones que encuentran más útiles o atractivos:

                            Mensajes motivacionales (40.8%): La mayoría de los encuestados prefieren recibir mensajes que los motiven.
                            Actividades de bienestar (32.0%): Una gran parte de los usuarios valora las actividades que promueven el bienestar.
                            Recordatorios suaves (26.2%): Los recordatorios suaves también son populares entre los usuarios.
                            Ninguna: Un pequeño porcentaje de los encuestados no tiene preferencia por ningún tipo de mensaje o interacción.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 19" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 20</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica titulada “Ventajas de una mascota dentro del diario” muestra las diferentes ventajas de tener una mascota según las entradas en un diario:
                            En este caso no se muestras todas las respuestas.
                            Me haría sentir acompañado (16.7%): Tener una mascota proporciona compañía y reduce la soledad.
                            Responsabilidad (16.7%): Las mascotas ayudan a desarrollar un sentido de responsabilidad.
                            Me hace sentir acompañada (16.7%): Similar al primer punto, las mascotas ofrecen compañía.
                            De forma divertida controlo mis emociones (16.7%): Las mascotas ayudan a manejar las emociones de manera divertida.
                            Los avatares ayudan a la UX (16.7%): Los avatares de mascotas mejoran la experiencia del usuario.
                            Teniendo una gran variedad de animales al gusto de todos (16.7%): La diversidad de mascotas permite satisfacer diferentes gustos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 20" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 21</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica titulada “Importancia de funcionalidad limitada en una versión gratis” muestra cómo los usuarios perciben la importancia de tener funcionalidades limitadas en una versión gratuita del producto:

                            Importante (77.7%): La mayoría de los encuestados considera que es importante tener funcionalidades limitadas en la versión gratuita.
                            Poco importante (18.4%): Un número menor de usuarios cree que no es muy relevante.
                            No importante (3.9%): Solo una pequeña fracción de los encuestados piensa que no es importante en absoluto.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 21" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 22</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica titulada “Prueba gratuita previa a una suscripción” muestra las opiniones de los usuarios sobre la importancia de tener una prueba gratuita antes de suscribirse a un servicio:

                            Sí (85.4%): La gran mayoría de los encuestados considera importante tener una prueba gratuita antes de suscribirse.
                            Me es irrelevante (9.7%): Un pequeño porcentaje de usuarios no tiene una opinión fuerte sobre la necesidad de una prueba gratuita.
                            No (4.9%): Solo una minoría de los encuestados no considera importante tener una prueba gratuita.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 22" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 23</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica titulada “Servicio al cliente de apps similares” muestra los niveles de satisfacción de los usuarios con el servicio al cliente de aplicaciones similares:

                            Mala (53.4%): La mayoría de los encuestados considera que el servicio al cliente es malo.
                            Buena (30.1%): Un número significativo de usuarios califica el servicio como bueno.
                            Excelente (9.7%): Solo una pequeña fracción de los encuestados cree que el servicio es excelente.
                            No aplica (6.8%): Algunos usuarios consideran que esta categoría no es aplicable a su experiencia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 23" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Grafica 24</h3>
                    <h5 class="card-subtitle text-muted mb-3">Explicación</h5>
                    <div class="text-container">
                        <p class="card-text">
                            La gráfica titulada “Características premium más importantes” muestra las preferencias de los usuarios sobre las características premium más valoradas en una aplicación:

                            Sin anuncios (50.5%): La mayoría de los encuestados prefieren una experiencia sin anuncios.
                            Funciones adicionales de personalización (26.2%): Muchos usuarios valoran las opciones adicionales de personalización.
                            Todas las anteriores (22.3%): Un número significativo de usuarios considera importantes todas las características mencionadas.
                            Otra categoría (1%): Una pequeña fracción de los encuestados tiene otras preferencias no especificadas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="card mb-4">
                    <div class="card-body" >
                        <img src="" alt="Grafica 24" class="img-fluid" style="flex: 1; display: flex; flex-direction: column; margin-left: auto;">
                    </div>
                </div>
            </div>
        </div>
</div>

<style>
.text-container {
    max-width: 60%;
    margin: 0; 
}
</style>

